.team {
    padding-top: 94px;
    background-color: var(--second-section-bgc);
}

.team-card {
    background: var(--white-bgc);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}

.team-text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);
}

/* team-social */
.team-icons-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.team-icons-social:not(:last-child) {
    margin-right: 10px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--main-color);
}

.team-social-link:hover,
.team-social-link:focus {
    background: var(--accent-bgc);
    color: white;
}

.team-icon-social {
    width: 20px;
    height: 20px;
    fill: currentColor;
}